<%= panel heading: 'Hinweise zur Erstellung von Übersetzungen', context: :info do %>
  <div class='panel-body'>
    <ul>
      <li>Zurzeit müssen Sie den HTML-Quellcode noch manuell von projecteuler.net holen. In Zukunft soll dies automatisch passieren.</li>
      <li>Die Sie-Form benutzen.</li>
      <li>Der HTML-Quellcode sollte im Allgemeinen unverändert bleiben.</li>
      <li>Querverweise zu anderen Problemen sollten in der Form <code>/problem=??</code> erfolgen.</li>
      <li>Wenn Grafiken oder Dateien verwendet werden, sollte die URL <code>https://projecteuler.net/...</code> verwendet werden.</li>
    </ul>
  </div>
<% end %>