<div class="card">
  <div class="card-header">
    Hinweise zur Erstellung von Übersetzungen
  </div>
  <div class='card-body'>
    <ul>
      <li>Als Basis für jede Übersetzung dient der <%= link_to "Text von projecteuler.net", @problem.original_url, target: '_blank' %>.</li>
      <li>Der HTML-Quelltext sollte im Allgemeinen unverändert bleiben.</li>
      <li>Querverweise zu anderen Problemen sollten in der Form <code>/problem=??</code> erfolgen.</li>
      <li>Wenn Grafiken oder Dateien verwendet werden, sollte die URL <code>https://projecteuler.net/...</code> verwendet werden.</li>
      <li>Die Sie-Form benutzen.</li>
    </ul>
  </div>
</div>
<div class="card mt-3 mb-3">
  <div class="card-header">
    Originaler Text der Aufgabe <i>"<%= @original_title %>"<i>
  </div>
  <div class='card-body'>
  <%= raw(@original_problem) %>
  </div>
</div>