<% provide(:title, 'Copyright') %>

<div class="pb-2 mt-4 mb-2 border-bottom">
  <h1>Copyright</h1>
</div>
<div class="alert alert-info" role="alert">Dieser Artikel dient gleichzeitig der Übersetzung der <a href="https://projecteuler.net/copyright">"Copyright Information" auf projecteuler.net</a> sowie der tatsächlich geltenden Copyright-Informationen für diese Seite.</div>
<h2>Kann ich die Probleme woanders benutzen?</h2>
<p>Ja! Es ist nicht nur erlaubt, sondern beherzt, das Material zu teilen und frei zu benutzen - für nichtkommerzielle Zwecke. Aber bitte lesen Sie weiter...<br />
  <br />
  Alle Probleme wurden von einer Vielzahl von Quellen gesammelt: Einige basieren auf interessanten Teilergebnissen von größeren mathematischen Theoremen, andere sind Variationen von klassischen Problemen, der Rest gilt als originell. Die Hauptmission von Project Euler ist es, hochqualitative Probleme zur Verfügung zu stellen, und zwar um sowohl zum Lernen zu motivieren als auch um in einem angenehmen Kontext herauszufordern.
  Ebenso ist es die Mission von projekteuler.de, diese Probleme in der deutschen Sprache frei zur Verfügung zu stellen und sie so einem noch breiteren Publikum zu präsentieren.
</p>
<h2>Gibt es Einschränkungen?</h2>
<p>
  Viel Aufwand und Gedanken wurden in das Design jedes Problems gesteckt, und in diesem Sinne sind alle Materialien neu und orginell. Daher dürfen die Probleme nicht für kommerzielle Zwecke benutzt werden. Dies gilt sowohl für die Original-Probleme auf projecteuler.net als auch die Übersetzungen auf projekteuler.de.
</p>
<h2>Muss ich Attribution (Namensnennung) zeigen?</h2>
<p>
  Dieses Problem ist eher eine Sache der Höflichkeit. Es steht Ihnen komplett frei, das Material zu benutzen, wie es ist, oder es zu adaptieren. Wenn Sie sich entscheiden, den Inhalt so zu übernehmen, wie er auf der Webseite ist, könnten Sie etwas schreiben wie "Das folgende Problem stammt von Project Euler / projekteuler.de". Wenn Sie sich entscheiden, das Problem zu verändern, könnten Sie etwas schreiben wie "Das folgende Problem wurde inspiriert von Problem xxx auf Project Euler / projekteuler.de".
</p>
<h2>Gibt es einen Weg, direkt zu einem bestimmten Problem zu verlinken?</h2>
<p>Sie können zum Problem xxx mit der folgenden URI auf projecteuler.net verlinken:</p>
<pre>https://projecteuler.net/problem=xxx</pre>
<p>Ebenso können Sie zu der entsprechenden Übersetzung mit folgender URI verlinken:</p>
<pre>https://projekteuler.de/problems/xxx</pre>
<h2>Kann ich genauere Informationen zum Copyright erhalten?</h2>
<p>Der Inhalt von projecteuler.net ist lizenziert unter einer Creative Commons Lizenz:<br />
  Attribution-NonCommercial-ShareAlike 2.0 UK: England & Wales.</p>
<p>Sie können entweder die <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/uk/deed.de">Creative Commons Deed</a> (Zusammenfassung) oder den <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/uk/legalcode">Legal Code</a> (Komplette Lizenz) lesen.</p>
<p>Der Inhalt dieser Seite (projekteuler.de) ist unter einer neueren Version derselben Creative Commons Lizenz lizenziert:<br />
  Attribution-NonCommercial-ShareAlike 4.0 International.</p>
<p>Auch hier können Sie entweder die <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.de">Creative Commons Deed</a> (Zusammenfassung) oder den <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">Legal Code</a> (Komplette Lizenz) lesen.</p>
