<% provide(:title, 'Über Project Euler') %>

<div class="page-header">
  <h1>Über Project Euler</h1>
</div>
<h2>Was ist Project Euler?</h2>
<%= image_tag 'euler_main.jpg', alt: 'Leonhard Euler (1707-1783)', width: '150px', style: 'border:1px solid black;margin:10px;float:right' %>
<p>Project Euler ist eine Serie von herausfordernden mathematischen bzw. Programmier-Problemen, die mehr als nur mathematische Einblicke zum Lösen erfordern. Obwohl die Mathematik Ihnen helfen wird, auf elegante und effiziente Lösungswege zu kommen, ist der Gebrauch von Computer- und Programmierkenntnissen nötig, um den Großteil der Probleme zu lösen.<br /><br />Die Motivation für das Starten und die Instandhaltung von Project Euler ist die, dem Forschergeist eine Plattform bereitzustellen, die sich mit unbekannten Gebieten befasst, und neue Konzepte in einem spaßigen und freizeitlichen Kontext zu erlernen.</p>

<h2>Für welche Zielgruppe sind die Probleme?</h2>
<p>Die beabsichtigte Zielgruppe enthält Studenten, deren normaler Lehrplan ihr Verlangen nach Lernen nicht stillt, Erwachsene, deren Hauptinteresse zwar nicht die Mathematik selbst, aber mathematische Dinge waren, und Profis, die ihre Fähigkeiten im Problemlösen und der Mathematik auf dem Laufenden halten wollen.</p>

<h2>Kann jeder die Probleme lösen?</h2>
<p>Die Probleme variieren in ihrer Schwierigkeit, und viele werden die Erfahrung des induktiven Kettenlernens machen. Das heißt, ein gelöstes Problem zeigt Ihnen ein neues Konzept, das Ihnen das Lösen eines bisher nicht lösbaren Problems bringt. Somit wird sich der entschlossene Teilnehmer langsam, aber sicher durch jedes Problem arbeiten.</p>

<h2>Was jetzt?</h2>
<p>Um Ihren Fortschritt zu verfolgen, ist es nötig, einen Account zu erstellen und Cookies zu aktivieren. Wenn Sie bereits einen Account auf projecteuler.net haben, dann können Sie sich <a href="https://projecteuler.net/sign_in">einloggen</a>, ansonsten <a href="https://projecteuler.net/register">registrieren</a> Sie sich bitte - es ist komplett kostenfrei!
</p>
<p>Aber wenn die Probleme nach einer Herausforderung klingen, dann können Sie sich die <%= link_to 'Probleme', problems_path %> ansehen, bevor Sie sich registrieren.
</p>
<blockquote><p>&quot;Project Euler existiert zum Begeistern, Herausfordern und Entwickeln der Fähigkeiten und des Genusses von jedem mit einem Interesse für die faszinierende Welt der Mathematik.&quot;</p></blockquote>