<% provide(:title, 'Datenschutz') %>

<div class="pb-2 mt-4 mb-2 border-bottom">
  <h1>Datenschutz</h1>
</div>

<p>Diese Datenschutz-Information gilt für die Datenverarbeitung durch:<br /></p>
<p>Philipp Fischbeck<br />
  Großbeerenstraße 48<br />
  14482 Potsdam<br />
  E-Mail: projekteuler@gmail.com<br />
</p>
<p>Die Bestellung eines betrieblichen Datenschutzbeauftragten ist nicht erforderlich.</p>
<h2>Erhebung und Verarbeitung personenbezogener Daten</h2>
<p><strong>Besuch der Webseite</strong></p>
Bei Besuch dieser Webseite werden zwangsweise folgende Daten übertragen:
<ul>
  <li>Aufgerufene URL</li>
  <li>IP-Adresse des aufrufenden Geräts (mit dem letzten Byte anonymisiert)</li>
  <li>Datum und Uhrzeit des Aufrufs</li>
  <li>Webseite, von der aus der Zugriff erfolgt</li>
  <li>Verwendeter Browser und Betriebssystem</li>
</ul>

<p>Die genannten Daten werden durch mich verarbeitet, um einen Verbindungsaufbau zur Webseite zu gewährleisten und die Funktionalität der Webseite zu gewährleisten. Die Rechtsgrundlage für diese Verarbeitung ist Art.6 Abs.1 S.1 lit.f DSGVO. Die Daten werden nicht dazu verwendet, Rückschlüsse auf die Person zu ziehen.</p>

<p>Die oben beschriebenen Daten werden höchstens 24 Stunden gespeichert und anschließend gelöscht.</p>

<p><strong>Anmeldung über GitHub</strong></p>
<p>Wenn sich der Besucher über ein GitHub-Konto anmeldet, so wird in einer Datenbank ein Eintrag für diesen Nutzer angelegt. In dem Eintrag wird eine Referenznummer auf das GitHub-Konto, der Anzeigename sowie das Datum des letzten Logins gespeichert. Zusätzlich werden Informationen gespeichert, die dem Besucher ein Fortsetzen der letzten Sitzung ermöglicht.</p>

<p><strong>Einstellen von Übersetzungen</strong></p>
<p>Bei der Einstellung von Übersetzungen wird neben dem Inhalt der Übersetzung auch Datum und Uhrzeit des Absendens gespeichert. Ist der Besucher über GitHub angemeldet, so wird zusätzlich eine Referenz auf den entsprechenden Eintrag des Nutzers in der Datenbank gespeichert.</p>

<p><strong>Nutzung der Kontaktadresse</strong></p>
<p>Besucher haben die Möglichkeit, mich über die angegebene Kontaktadresse zu erreichen. Sämtliche Angaben sind freiwillig. Die Datenverarbeitung für die Kontaktaufnahme erfolgt nach Art.6 Abs.1 S.1 lit.a DSGVO auf Grundlage der freiwilligen Einwilligung des Besuchers.</p>

<h2>Betroffenenrechte</h2>
Sie haben das Recht auf
<ul>
  <li>Auskunft über die bei uns über Sie gespeicherten Daten und ihre Verarbeitung (Art. 15 DSGVO),</li>
  <li>Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),</li>
  <li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
  <li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen (Art. 18 DSGVO),</li>
  <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO) und</li>
  <li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben (Art. 20 DSGVO).</li>
</ul>

Wenden Sie sich für Anfragen an die oben genannte E-Mail-Adresse.