<footer class="footer">
  <div class="container">
    <p class="text-muted text-center"><%= link_to t('application.copyright'), about_copyright_path %> | <%= t('application.bootstrap_html')%></p>
  </div>
</footer>