<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">
      <%= link_to t('application.legal'), about_legal_path %>
      | <%= link_to t('application.privacy'), about_privacy_path %>
      | <%= link_to t('application.copyright'), about_copyright_path %>
      | <%= t('application.bootstrap_html')%></p>
  </div>
</footer>